<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">admin</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>

        <mapping class="com.model.entities.Cause" />
        <mapping class="com.model.entities.Document"/>
        <mapping class="com.model.entities.Dbuser"/>
        <mapping class="com.model.entities.Doctype"/>
        <mapping class="com.model.entities.Causestate"/>
    </session-factory>

</hibernate-configuration>